{% trans_default_domain 'professionals' %}

<header class="header">
    <nav class="navbar navbar-expand-lg">
        <div class="container">
            <a href="{{ ez_path(ezplatform.rootLocation()) }}" class="navbar-brand">
                {% include '@ezdesign/layout/logo.html.twig' with {'contentId': ezplatform.rootLocation.content.id} %}
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mainMenuNavbar" aria-controls="mainMenuNavbar" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="mainMenuNavbar">
                <div class="navbar--main-menu ml-auto" id="mainMenuNavbar">
                    {{ knp_menu_render('professionals_main', {
                        'template': '@ezdesign/menu/app_menu.html.twig',
                        'currentClass': 'active',
                        'ancestorClass': 'active'
                    }) }}
                </div>
            </div>
        </div>
    </nav>
</header>
