.catalog_card {
  border: 1px solid grey;
  border-radius: 5px;
}

.catalog_card__link {
  background-color: #ffffff;
  padding: 10px;
  text-align: center;
}

.catalog_card__link a {
  color: #000;
  font-size: 12pt;
  font-weight: 500;
}
