.professionals__header {
  background-color: #5492f7;
  height: 307px;
}

.professionals__header h1 {
  color: #fff;
  padding: 50px;
}

.professionals__container {
  position:relative;
  top: -134px;
}

.professionals__container__left,
.professionals__container__right {
  background-color: #fff;
  min-height: 300px;
  border-radius: 7px;
  padding: 10px;
}

.professionals_detail__image {
  display: flex;
  padding-top: 40px;
  justify-content: center;
}

.professionals_detail__image img {
  border-radius: 150px;
  width: 155px;
  height: 155px;
}

.professionals_detail__name,
.professionals_detail__intro {
  text-align: center;
  padding: 6px;
}

.professionals_detail__name {
  font-weight: bold;
  font-size: 18px;
}

.professionals_detail__about,
.professionals_detail__inspirations {
  padding: 25px;
}

.professionals_detail__about__label {
  padding-bottom: 20px;
  display: block;
  font-size: 21px;
}

.professionals_detail__inspirations__label {
  display: block;
  font-size: 21px;
}

.professionals_detail__inspirations_list {
  display: flex;
}

.professionals_detail__inspirations_list .inspiration {
  padding: 20px;
}
