$menu: '.menu';

#{($menu)} {
    &-list {
        list-style: none;

        &-item {
            padding: 3px 0;

            &.active > &__link,
            &__label .active,
            &.active &__name {
                font-weight: bold;
            }
            &__name > &__link {
                font-size: 16px;
            }
            &__link {
                color: $grey-light;
            }
            &__label {
                cursor: pointer;
                position: relative;
                font-size: 19px;
            }
            &--has-sub-items {
                .menu-list {
                    padding-left: 15px;
                }
                &.expand {
                    .menu-list {
                        display: block;
                    }
                }
            }
            &__toggler {
                padding: 0 0 0 15px;
                right: -15px;
                top: 8px;
                position: absolute;
                display: inline-block;
                background-repeat: no-repeat;
                background-position-x: center;
                height: 22px;
            }
        }
        .collapse .menu-list {
            display: none;
        }
    }
}

.toggler {
    &--arrow {
        background-image: url('/assets/images/layout/collapse.png');
    }

    .expand &--arrow {
        background-image: url('/assets/images/layout/expand.png');
    }

    .collapse.menu-list-item--has-sub-items &--plus {
        background-image: url('/assets/images/layout/plus.png');
    }

    .menu-list-item--has-sub-items &--plus {
            background-image: url('/assets/images/layout/minus.png');
    }
}
