<div class="row">
    <div class="col-md-4 col--img d-lg-block d-none">
        <img src="{{ asset('assets/images/store-col-img1.png') }}">
    </div>
    <div class="col-md-4 col--img d-lg-block d-none">
        <img src="{{ asset('assets/images/store-col-img2.png') }}">
    </div>
    <div class="col-lg-4 col-md-12">
        {% include '@ezdesign/parts/find_professionals.html.twig' %}
    </div>
</div>

