{% trans_default_domain 'maison' %}

<h4 class="heading-lg">
    {{ 'maison.find_a_inspirations_and_ideas_to_help_you_with'|trans|desc('Find a inspirations and ideas to help you with') }}
</h4>
<h5 class="heading-sm py-4 mb-0">
    {{ 'maison.delivery_assembling_painting_renovation_etc.'|trans
    |desc('delivery, assembling, painting, renovation, etc.') }}
</h5>
<div class="mt-1">
    <a href="/inspirations" class="btn btn--lg btn--blue mt-3">
        {{ 'maison.discover_more_inspirations'|trans|desc('Discover More Inspirations') }}
    </a>
</div>
