$white-whisper: #e9e9e9;
$white: #ffffff;
$white-smoke: #f5f5f5;
$grey-very-light: #f2f2f2;
$grey-lighter: #999999;
$grey-light: #3d3d3d;
$grey-dark: #333333;
$black: #000000;
$blue-lighter: #4191ff;
$blue-light: #0056b3;
$orange: #f06d1a;

.black {
    color: $black;
}

.grey-light {
    color: $grey-light;
}

.blue-lighter {
    color: $blue-lighter;
}

.bg-blue-lighter {
    background-color: $blue-lighter;
}

.bg-blue-light {
    background-color: $blue-light;
}

.bg-grey-very-light {
    background-color: $grey-very-light;
}

.bg-white-smoke {
    background-color: $white-smoke;
}
