@mixin transform($x, $y) {
    -webkit-transform: translateX($x) translateY($y);
    -moz-transform: translateX($x) translateY($y);
    transform: translateX($x) translateY($y);
}

@mixin rounded($x) {
    border-radius: $x;
    -webkit-border-radius: $x;
    -moz-border-radius: $x;
}
