$section: '.section';

#{($section)} {
    color: $grey-light;

    &--overlap {
        position: relative;
        z-index: 1000;
        max-width: $lg;
        margin: 0 auto;
        margin-top: -170px;
    }
}
