{% trans_default_domain 'maison' %}

<section class="section section--standard my-5">
    <div class="container">
        <div class="row">
            <div class="col-12 text-lg-center my-5">
                <h4 class="heading-lg">{{ 'maison.become_a_maison_pro'|trans|desc('Become a Maison Pro') }}</h4>
                <p class="mt-4">
                    {{ 'maison.we_are_always_looking_for_outstanding_local_contractors!'|trans|desc( 'We\'re always looking for outstanding local contractors!')|raw }}
                </p>
                <a href="" class="btn btn--lg btn--blue mt-4">
                    {{ 'maison.apply_now'|trans|desc('Apply Now') }}
                </a>
                <p class="mt-5">
                    {{ 'maison.click_here_to_view_maison_licensing_information'|trans({
                        '%link_open%': '<a href="#">',
                        '%link_close%': '</a>',
                    })|desc('Click here to view %link_open% Maison licensing information %link_close%')|raw }}
                </p>
            </div>
        </div>
    </div>
</section>
