<div class="card box-shadow mb-3">
    <div class="card__image">
        {% if not ez_field_is_empty( content, 'image' ) %}
            {{ ez_render_field(content, 'image', {
                parameters: {
                    alias: 'catalog_card',
                    class: 'img-fluid'
                }
            }) }}
        {% endif %}
    </div>
    <div class="card__text text-center font-weight-bold">
        <a href="{{ ez_path(location) }}" class="card__link d-flex flex-column p-3">{{ ez_content_name(content) }}</a>
    </div>
</div>
